h1{
 text-align: center;   
}
.hard{
 width: 500px;   
height: 150px;
 background-color: black;
 border-radius: 10px;
 transition: 1s;
}
ul{
  color: white;  
  text-align: center;
}
.PAR{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 4px solid white;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: 7;
}
.Bloks{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;   
    border-radius: 10pc;
}
 .hard:hover{
 width: 100%;    
 }
li{
margin: 50px; 
line-height: 10px;
}
.PAR:hover{
-o-transform: skewX(20deg);
-ms-transform: skewX(20deg);
-moz-transform: skewX(20deg);
-webkit-transform: skewX(20deg);
transform: skewX(20deg);
margin-left: 5px;
margin-right: 5px;
font-size: 1px;
padding: 1px;
}
@keyframes skew{
0%{
transform: skewX(20deg);
}
100%{
transform: skewX(-20deg);    
}
}

