@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
h1{font-size: 60px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: darkred;
}
ul{
    list-style-type: square;
}
li{
    color: red;
}
ul{
    color: orangered;
}
a{
    text-decoration: none;
}
img{
    border-radius:100cm;
     ;}