.darkblue{
background-color: darkblue;
width: 25%;
height: 90px;


}
.darkblue2{
background-color: darkblue;
width: 50%;
height: 90px;





}
.top3{
width: 25%;
height: 510px;
background-image: url(https://play-lh.googleusercontent.com/soTPY24FrcZABNLMBn-QHuYuNB9NoHhT5s5pvS0fPEcR6dCoTopdfBWF4LTl1OC-GbMM);


}
.top4{
    width: 25%;
    height: 510px;
    background-image: url(https://yt3.ggpht.com/fGvQjp1vAT1R4bAKTFLaSbdsfdYFDwAzVjeRVQeikH22bvHWsGULZdwIkpZXktcXZc5gFJuA3w=s900-c-k-c0x00ffffff-no-rj)


}